{% extends "base.html" %}

{% set abs_path %}{% endset %}

{% block head %}{% endblock %}

{% block content %}
<section id="booking" >
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; max-width: 60rem;" >
    <div style="border: 1px solid rgba(0, 0, 0, 0.2); padding: 120px 100px; text-align: center; width: 100%; max-width: 58.625rem; box-sizing: border-box; margin: 5vh 0 20vh;">
      <p style="font-size: 24px; font-family: brandon-grot-w01-light, brandon-grot-w05-light, sans-serif;" >Nothing to book right now. Check back soon.</p>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
{% endblock %}

