{% extends "base.html" %}

{% block content %}
<section id="education">
  <div>
    <div>
      <h1>Want to host a class?</h1>
      <p>Rent out our space for your next salon education class!</p>
    </div>
    <div>
      <h1>Seeking Salon Education?</h1>
      <p>Contact our Salon Owner/Educator on IG: @HairByGena_</p>
      <h1>COURSES:</h1>
      <ul>
        <li>BALAYAGE</li>
        <li>COLOR CORRECTION</li>
        <li>BUSINESS 101</li>
        <li>6 METHODS OF HAIR EXTENSION CERTIFICATIONS</li>
      </ul>
    </div>
  </div>
</section>
{% endblock %}

