{% extends "base.html" %}

{% block content %}
<section id="services">

  <div>
    <h1>The Hair Bar Salon Services</h1>
    <div>
      <h2>NEED HAIR?</h2>
      <p>We sell TOP quality Hair Extensions by the Gram. Custom colored, genius wefts, 100% human Remy Hair, Ethically sourced, thick from top to bottom, silky, smooth Mongolian Hair.</p>
    </div>
    <div>
      <h2>BOOTH RENT</h2>
      <p>We have FURNISHED private studios!<br>Contact us Today and send your resume to <a href="mailto:THBSF0128@gmail.com">THBSF0128@gmail.com</a></p>
    </div>
  </div>

</section>
<section id="stylists">
  <div>
    <h1>The Hair Bar Salon Stylists</h1>

    <div class="stylist-list">
      <div class="stylist-card">
          <h2>Sarah</h2>
          <p><strong>Phone:</strong> (559)999-4148</p>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/sarahs_haus/">@sarahs_haus</a></p>
          <p><strong>FB:</strong> Sarah's Haus of Hair</p>
          <p><strong>TikTok:</strong> Sarahs_Haus</p>
          <p><strong>Services offered:</strong> Hair & Waxing</p>
          <a href="https://sarahshaus.glossgenius.com">https://sarahshaus.glossgenius.com</a>
      </div>
      <div class="stylist-card">
          <h2>Alexandra</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/GlammedByAlex/">@GlammedByAlex</a></p>
          <p><strong>Services offered:</strong> Hair</p>
          <a>DM to book</a>
      </div>
      <div class="stylist-card">
          <h2>Samantha</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/dalkomhairstudio/">@dalkomhairstudio</a></p>
          <p><strong>TikTok:</strong> Sam 🍊 | Fresno Haircuts ✂</p>
          <p><strong>Services offered:</strong> Hair</p>
          <a href="https://dalkomhairstudio.glossgenius.com">https://dalkomhairstudio.glossgenius.com</a>
      </div>
      <div class="stylist-card">
          <h2>Linda</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/LindasHair/">@LindasHair</a></p>
          <p><strong>Services offered:</strong> Hair</p>
          <a>DM to book</a>
      </div>
      <div class="stylist-card">
          <h2>Kristeen</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/CosmoKris86/">@CosmoKris86</a></p>
          <p><strong>Services offered:</strong> Hair</p>
          <a>DM to book</a>
      </div>
      <div class="stylist-card">
          <h2>Krystal</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/KrystalLovesHair/">@KrystalLovesHair</a></p>
          <p><strong>Services offered:</strong> Hair</p>
          <a>DM to book</a>
      </div>
      <div class="stylist-card">
          <h2>Sylvia</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/coloybysylvia/">@coloybysylvia</a></p>
          <p><strong>Services offered:</strong> Hair</p>
          <a href="https://sylviavenegas.glossgenius.com">https://sylviavenegas.glossgenius.com</a>
          
      </div>
      <div class="stylist-card">
          <h2>Lateca</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/latikahmonichair/">@Latikamonichair</a></p>
          <p><strong>Services offered:</strong> Hair, Braids, & Sew in Extensions</p>
          <a href="https://www.instagram.com/latikahmonichair/">https://www.instagram.com/latikahmonichair</a>
      </div>
      <div class="stylist-card">
          <h2>Johanna</h2>
          <p><strong>IG: </strong><a href="https://www.instagram.com/christ_and_cosmetology/">@christ_and_cosmetology</a></p>
          <p><strong>Services offered:</strong> Hair & Customized Merchandise</p>
          <a href="https://lhkw.app.link">https://lhkw.app.link</a>
      </div>
      <div class="stylist-card">
          <h2>Regina Barbato</h2>
          <p><strong>Salon Owner</strong> </p>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/HairByGena_/">@HairByGena_</a></p>
          <p><strong>Services:</strong> Salon Owner, Hair Extension Specialist & Educator</p>
          <a>DM to book</a>
      </div>

      <div class="stylist-card">
          <h2>Brianna Portillo</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/hairby.briannaraee/">@hairby.briannaraee</a></p>
          <p><strong>Services:</strong> Lived in color & Hair Extension Specialist</p>
          <p><strong>(559) 856-0499</strong></p>
          <a href="http://Hairbybriannarae.glossgenius.com">http://Hairbybriannarae.glossgenius.com</a>
      </div>

      <h1>The Hair Bar Salon Nail Technicians</h1>
      <div class="stylist-card">
          <h2>Genesis</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/nailsbygenesis__/">@nailsbygenesis__</a></p>
          <a>DM to book</a>
      </div>

      <div class="stylist-card">
          <h2>Veronica Pazos</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/nailsbyronika_xo/">Nailsbyronika_xo</a></p>
          <p><strong>Services offered:</strong> Nails, Pedicures, Brow Wax & Laminations</p>
          <p><strong>(559) 906-2313</strong></p>
          <a>DM to book</a>
      </div>

      <div class="stylist-card">
          <h2>Yesenia Torres</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/nails_byyesy/">@Nails_byYesy</a></p>
          <p><strong>(559) 259-8475</strong></p>
          <a>DM to book</a>
      </div>

      <div class="stylist-card">
          <h2>Amy Her</h2>
          <p><strong>IG:</strong> <a href="https://www.instagram.com/Her.and.more/">@Her.and.more</a></p>
          <p><strong>(714) 697-8270</strong></p>
          <a>DM to book</a>
      </div>
    </div>

  </div>
</section>

<main>
  <section class="stylist">
      
  </section>
</main>
{% endblock %}