{% extends "base.html" %}

{% set abs_path %}{% endset %}

{% block head %}
<link rel="stylesheet" href="static/shop.css">
{% endblock %}

{% block content %}
<section id="shop">
  <!--<h2>Shop Our Products</h2>-->
  <div class="product-list">
    {% for product in products %}
    <a href="product-page/{{ product['data-item-url'] }}.html" class="product">
      <img class="product-image" src="static/img/product/{{ product['data-item-image'] }}" alt="Product Image">
      <div>
        <h3>{{ product['data-item-name'] }}</h3>
        {% if product['in-stock'] %}
        <p>{{ product['price'] }}</p>
        {% else %}
        <p>Out of stock</p>
        {% endif %}
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>
const productImages = document.querySelectorAll('.product-image');

productImages.forEach(image => {
  image.addEventListener('load', () => {
    image.classList.add('loaded');
  });
});
</script>
{% endblock %}

